@font-face {
	font-family: DancingScript;
	src: url(../fonts/DancingScript-Regular.ttf);
}
/* Estilos del cuerpo de la pagina */
body {
  font-family: DancingScript;
  background-color: #02010a;
	margin: 0px;
	padding: 0px;
}
/* Estilos de seccion "container" */

.container {
	margin: 0px;
	border: 0px;
	border-radius: 10px 10px 0px 0px;
	background-color:  #5b7989;
}

.titulo {
	color: #ffffff;
  text-shadow: 1px 1px 2px #02010a;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.navbar_top {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

a {
  color: #ffffff;
}

 #dec {
	text-decoration: none;
}

/* Estilos de la seccion "figure" */

.images {
	margin: 0px;
}
.img_main {
	padding: 20px 0px 20px 0px;
	margin: 0px;
	background-color: #82c3a6;
}
.img_sec {
	margin: 0px;
	background-color: #d5c75f;
	padding: 0px 0px 10px 0px;;
	width: 100%;
}
.img_main,.img_sec {
	display: flex;
	justify-content: center;
	align-items: center;
}
.img_sec div, figcaption {
	width: 400px;
	margin: 0px;
}
figcaption {
	text-align: center;
}
.img_sec a {
	color: #000000;
	font-size: 150%;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}
.img_sec1 {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 2px;
}
.img_sec2 {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 2px;
}
.text1 {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.text2 {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
 .img_main img, .img_sec2 img, .img_sec1 img {
  -webkit-box-shadow: 2px 2px 2px #02010a;
  -moz-box-shadow: 2px 2px 2px #02010a;
	border: 1px solid;
}
/* Transformaciones */

.img_sec2 img:hover {
	transform: translate(20px, -5px);
	-ms-transform: translate(20px, -5px); /* IE 9 */
	-webkit-transform: translate(20px, -5px); /* Safari y Chrome */
	-moz-transform: translate(20px, -5px); /* Firefox */
	-webkit-transition-duration: 3s; /* Safari */
	transition-duration: 3s;
}
.img_sec1 img:hover {
 -webkit-transform: rotate(10deg);
 -moz-transform: rotate(10deg); /* Firefox */
 -ms-transform: rotate(10deg); /* IE 9 */
 transform: rotate(10deg);
 -webkit-transition-duration: 3s; /* Safari */
 transition-duration: 3s;
}

/* Estilos del footer */

.footer {
	margin: 0px;
	border: 0px;
	padding: 0px;
	border-radius: 0px 0px 10px 10px;
	background-color: #C6d5c5;
	display: flex;
	justify-content: space-between;
}
.footer div {
	width: 200;
}
.contacto {
	padding-left: 20px;
}
.derechos {
	padding-right: 20px;
}
.icons img{
	width: 16px;
	height: 16px;
	padding: 0px 5px 0px 0px;
}
.footer a {
	color: #000000;
}
/* Uso de @media */
@media (min-width: 900px) {
	/* Container y sus elementos */
	.container, .img_sec, .footer {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
	.container div {
		padding: 10px;
	}
	.titulo {
		width: 60%;
	}
	.navbar_top {
		width: 35%;
	}
/* Imagenes */
	.images {
		width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
	.img1 {
		 width: 85%;
	}
	.img2, .img3 {
		 width: 90%;
	}
}

@media (max-width: 899px) {
		/* Container e imagenes */
	.container, .images, .img_sec, .footer {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: column wrap;
		flex-flow: column wrap;
	}
	.container, div {
		padding: 0px;
	}
	.img_sec1, .img_sec2 {
		padding: 10px 0px 10px 0px;
	}
	.navbar_top, .titulo, .img_sec1, .img_sec2 {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%
	}
	.titulo h1 {
		text-align: center;
	}
	.img_sec div {
		width: 100%;
	}
	.img1, .img2, .img3 {
		 width: 90%;
	}
	.img_sec1 {
		order: 1;
	}
	.img_sec2 {
		order: 3;
	}
	.text1 {
		padding: 0px 0px 3px 0px;
		order: 2;
	}
	.text2 {
		padding: 3px 0px 3px 0px;
		order: 4;
	}
	.img_sec a {
		font-size: 120%;
	}
	.footer div {
		width: 100%;
		padding-left: 30px;
	}
	.img_sec2 img:hover {
		transform: translate(20px, -5px);
		-ms-transform: translate(20px, -5px); /* IE 9 */
		-webkit-transform: translate(20px, -5px); /* Safari y Chrome */
		-moz-transform: translate(20px, -5px); /* Firefox */
		-webkit-transition-duration: 3s; /* Safari */
		transition-duration: 3s;
	}
	.img_sec1 img:hover {
	 -webkit-transform: rotate(10deg);
	 -moz-transform: rotate(10deg);
	 -ms-transform: rotate(10deg);
	 transform: rotate(10deg);
	 -webkit-transition-duration: 3s; /* Safari */
	 transition-duration: 3s;
	}
}

@keyframes header-animacion {
	0% {
		position: relative;
		margin-top: 150px;
	}
	60% {
		position: relative;
		margin-top: -5px;
	}
	100% {
		position: relative;
		margin-top: 0px;
	}
}

.container {
	animation-name: header-animacion;
	animation-duration: 2s;
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
}
